/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/

#block-views-soluciones-home-block {
	/*width: 1170px;*/
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}

#block-views-testimonios-home-block {
	width: 1170px;
	margin: 0 auto;

}
/*
.views-home-testimonios-body p {
	width: 400px;
}
*/
/*formulario de contacto footer*/
.contact-form div .form-item-mail {
	margin-left: 0px;
}

.contact-form div .form-item-subject {
	width: 270px;
	margin-left: 0px;
}
/*END CONTACT FORM HOME*/


/*clases para ocultar el panel de datos de usuario en el header.*/
.datos-usuario {
	width: 200px;
	border-style: solid;
	background: rgba(250, 250, 250, 0.7);
	position: fixed;
	top: 80px;
	z-index: 100;
}
#datos-usuario-cerrar {
	float: right;
}

.mostrar {
	display: block;
}
.ocultar {
	display: none;
}
/*FIN DATOS DE USUARIO EN EL HOME.*/

/*CASOS DE EXITO*/
#views_slideshow_cycle_teaser_section_soluciones_home-block .views-slideshow-cycle-main-frame-row-item {
	float: left;
	width: 25%;
	margin-left: 5%;

}
body.sticky-menu-active header #site-name{
	  margin: 2px 0px 0px 0px;
}
@media (max-width: 767px){
	#views_slideshow_cycle_teaser_section_soluciones_home-block .views-slideshow-cycle-main-frame-row-item {
		margin: 0 auto;
		width: 100%;
		display: block;
		clear: both;
		text-align: center;
	}
	#block-views-soluciones-home-block{
		width: 100%
	}
}
.casos-exito-row {
	float: left;
}
/*FIN CASOS DE EXITO*/